/* Outer control area */
.Select-control {
    background-color: #343a40 !important;
    color: white !important;
    border: 1px solid #495057 !important;
}

/* Selected value text */
.Select-value-label {
    color: white !important;
}

/* Placeholder text */
.Select-placeholder {
    color: #adb5bd !important;
}

/* Dropdown menu */
.VirtualizedSelectOption {
    background-color: #343a40 !important;
    color: white !important;
}

/* Highlighted (hovered) option */
.VirtualizedSelectFocusedOption {
    background-color: #495057 !important;
    color: white !important;
}

/* Dropdown menu container */
.Select-menu-outer {
    background-color: #343a40 !important;
    border: 1px solid #495057 !important;
}





.dash-table-tooltip {
    background-color: #343a40 !important;   /* Dark background */
    color: white !important;              /* Light text */
    font-size: 13px;
    white-space: normal;                    /* Allows wrapping */
    text-align: left;
    z-index: 1000;
    box-shadow: none;
    border: none;
}
